{% extends "base.html" %} {% block content %} {%for post in posts%}
<a
  class="transition ease-in-out hover:scale-105 transform-gpu group border bg-white shadow-xl rounded"
  href="/p/{{post.slug}}"
>
  <img
    class="transform-gpu group-hover:opacity-75 rounded-t object-cover"
    src="/static/test.png"
    alt="d"
  />
  <div class="flex gap-x-2 p-2">
    <div>
      <span class="font-semibold">@{{post.author.username}}:</span>
      <p class="text-xs text-gray-500">{{post.date}}</p>
    </div>
    <div class="text-gray-700 flex flex-col text-sm">
      <p>{{post.text}}</p>
      <!--  -->
      <div class="mt-2 flex gap-x-2 text-xs justify-between">
        <div>
          {% for category in post.categories%}
          <span
            class="bg-zinc-200 rounded-full px-2 py-0.5 font-semibold text-gray-700 border border-zinc-500"
            >#{{category.text}}</span
          >
          {%endfor%}
        </div>
        <span class="self-end">🍕🍕🍕🍕🍕</span>
      </div>
    </div>
  </div>
</a>
{%endfor%} {% endblock %}
